@import "../../base-styles/variables.scss";

#portfolio{

  border-bottom: 2px solid $highlight;

  h2 {
    text-align: center;
    margin-top: 40px;
  }

  h3 {
    font-family: $headersfont;
    font-size: 30px;
    text-transform: lowercase;
    text-align: center;
    margin: 20px 0px;
  }

  #tech-content{
    display: grid;
    grid-template-columns: 50% 50%;

    div{
      margin: 20px 10%;
      width: 450px;

      h4{
        font-family: $headersfont;
        font-size: 30px;
        margin-bottom: 10px
      }

      img {
        width: 450px;
        border: 5px solid $dark;
      }

      p {
        width: 450px;
        margin: 10px 0px;
      }
      
      span {
        font-weight: 500;
      }

      a {
        display: block;
      }
    }
  }

  #marketing-content {
    display: grid;
    grid-template-columns: 50% 50%;

    div{
      margin: 20px 10%;
      width: 450px;

      h4{
        font-family: $headersfont;
        font-size: 30px;
        margin-bottom: 10px
      }

      img {
        width: 450px;
        border: 5px solid $dark;
      }

      p {
        width: 450px;
        margin: 10px 0px;
      }
      
      span {
        font-weight: 500;
      }

      a {
        display: block;
      }
    }
  }

}