nav {

  #name{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 60px;
    text-transform: uppercase;
  }

  height: 50px;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 40% 1fr;

  div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  a {
    display: inline-block;
    line-height: 50px;
    text-decoration: none;
    // color: $light;
    font-size: 1.25em;
    // font-family: $headingsfont;
    margin: 0px 5px;
  }

  a:hover {
    color: blue;
  }

}
