nav {

  height: 65px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 30% 1fr;
  // border: 1px solid red;

  #name{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 60px;
    text-transform: uppercase;
    margin: 2px 5px 2px 5px;
  }

  div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  a, li {
    display: inline-block;
    text-decoration: none;
    margin: 0px 5px;
  }

  #nav {
    line-height: 60px;
    font-size: 20px;
    // font-weight: 400;
  }

  a:hover {
    color: blue;
  }

}
