footer {
  height: 60px;
  width: 100%;
  font-family: 'Quicksand', sans-serif;


  p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  a {
    display: block;
    text-align: center;
  }
}
